img {
  width: 300px;
  height: 300px;
}
video {
  width: 300px;
  height: 300px;
  background-image: url("https://tuspanoramas.files.wordpress.com/2018/09/mc3basica-feria-vinilo.jpg?w=1920&h=768&crop=1");
}

footer {
  background-color: rgb(175, 41, 70);
}
.pie {
  color: antiquewhite;
}
body {
  background-image: url("assets/images/img1.png");
}
h3 {
  color: rgb(122, 192, 201);
  font-family: "sans-serif";
}
p {
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
}
